@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
	cursor: none;
}

.box {
	position: fixed;
	top: -50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	user-select: none;
}

label:focus {
	color: var(--emerald) !important;
}
.MuiFormLabel-root:focus {
	color: var(--emerald) !important;
}

/* Change the color of the text selection */
::selection {
	background: var(--emerald);
	color: var(--Background);
}
/* For Firefox, use the same styles with the -moz- prefix */
::-moz-selection {
	background: var(--emerald);
	color: var(--Background);
}
