@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
	cursor: none;
}

.box {
	position: fixed;
	top: -50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	user-select: none;
}

.recaptcha-container {
  display: flex;
  justify-content: center; /* Center the reCAPTCHA horizontally */
  align-items: center; /* Center the reCAPTCHA vertically */
  width: 100%; /* Ensure the container takes full width */
  padding: 10px; /* Optional: Add some padding around the reCAPTCHA */
  background-color: #f0f0f0; /* Optional: Add a background color */
  border-radius: 10px; /* Optional: Add rounded corners */
  box-shadow: inset 0px 0px 10px var(--Background); /* Optional: Add a box shadow */
}


label:focus {
	color: var(--emerald) !important;
}
.MuiFormLabel-root:focus {
	color: var(--emerald) !important;
}

/* Change the color of the text selection */
::selection {
	background: var(--emerald);
	color: var(--Background);
}
/* For Firefox, use the same styles with the -moz- prefix */
::-moz-selection {
	background: var(--emerald);
	color: var(--Background);
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--background) inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

.typing-text-0 {
  color: var(--emerald); /* Color for the second phrase */
}
.transition *{
	transition: all 1s ease-in-out;
}
